<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="css/login.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="js/jquery-3.5.1.slim.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

</head>
<body>
<%- include('./navbar') %>
<div id="root">
    <div class="container-fluid altura centro login">
        <div class="camada">
            <div class="card margin-top-15%">
                <div class="card-body">
                    <h5 class="card-title">Registro</h5>
                    <form action="" method="get">
                    <div class="a-esquerda" id="nome">
                        <label for="usuario">E-mail</label>
                        <input class="form-control" id="email" type="email" placeholder="E-mail"></input> 
                    </div>
                    <div class="a-esquerda" id="nome">
                        <label for="usuario">Confirme o E-mail</label>
                        <input class="form-control" id="email" type="email" placeholder="Usuário"></input> 
                    </div>
                    <div class="a-esquerda" id="pass">
                        <label for="senha">Senha</label>
                        <input class="form-control" id="senha" type="password" placeholder="Senha"></input> 
                    </div>
                    <div class="a-esquerda" id="pass">
                        <label for="senha">Confirmar senha</label>
                        <input class="form-control" id="confirmacao" type="password" placeholder="Senha"></input> 
                    </div>
                    <button class="btn btn-primary margin-top-10" type="submit">Entrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>